.header {
    display: flex;
    justify-content:space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}
.nav-items>ul{
    display: flex;
    list-style-type:none;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.search{
    padding: 10px;
}
.res-card{
    padding:10px;
    width: 200px;
    background-color: gray;
    margin: 5px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-logo{
    width: 100%;
}
.res-container{

    display: flex;
    flex-wrap: wrap;
    
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-card{
    width: 200px;
    height:400px;
}
/* .login-button{
    padding: 0 20px;
} */